<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADIS</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="main">
    {{>menu}}

    {{#each messages}}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{this}}
        </div>
    {{/each}}
</div>



{{#if owner}}

    <h2 class="imgTitle">Profil</h2>

    <div class="main">
        <div class="page">
            <p>Votre profil est renseigné via votre compte Linkedin lors de votre inscription mais vous êtes libre de
                modifier le contenu des champs.</p>
        </div>

        <div class="profilUser">
            <form method="post" action="" id="profil">

                <label for="first_name">Prénom</label>
                <input id="first_name" type="text" name="first_name" value="{{ user.first_name }}">
                <br>

                <label for="last_name">Nom</label>
                <input id="last_name" type="text" name="last_name" value="{{ user.last_name }}">
                <br>

                <label for="profile_pictures">Photo de profil</label>
                <input id="profile_pictures" type="text" name="profile_pictures" value="{{ user.profile_pictures }}">
                <br>

                <label for="email">Email</label>
                <input id="email" type="text" name="email" value="{{ user.email }}">
                <br>

                <label for="headline">Poste actuel</label>
                <input id="headline" type="text" name="headline" value="{{ user.headline }}">
                <br>

                <label for="profil">Profil Linkedin</label>
                <input id="profil" type="text" name="profil" value="{{ user.profil }}">
                <br>

                <label for="promotion">Promotion</label>
                <input class="listePromo" id="promotion" type="number" name="promotion" value="{{ user.promotion }}">
                <br>
                <br>

                <label for="diplome">Diplôme</label>
                {{user.diplome}}
                <select name="diplome" form="profil" id="diplome">
                    {{#select user.diplomeSlug}}
                        <option value="">Diplôme</option>
                        <option value="archive">Gestion de patrimoines audiovisuels</option>
                        <option value="production">Production</option>
                    {{/select}}
                </select>
                <br>
                <br>

                <input type="hidden" name="id" value="{{ user.id }}">

                <input type="submit">
            </form>
        </div>

{{else}}
        <div class="identity">
            <img src="{{ user.profile_pictures }}" class="profil_picture">
            <h3>{{user.first_name}} {{user.last_name}}</h3>
            <p>{{user.headline}}</p>
            <p>Diplôme : {{ user.diplome }}</p>
            <form name="diplomaSearch" action="/etudiants" method="post">
                <input type="hidden" name="promotion" value="{{ user.promotion }}">
                <p>Promotion : <a href="#">{{ user.promotion }}</a></p>
            </form>
            <a class="linked" href="{{ user.profil }}">Voir le profil Linkedin</a>
        </div>
{{/if}}

    <div class="push"></div>

</div>
{{>footer}}
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>